* {
    padding: 0;
    margin: 0;
}

/*all background that is normaly white is now barely not white xD*/
/*html{
    background-color: #e6e6e6;
}*/

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {

    list-style: none;
    display: inline-block
}

a {
    color: white !important;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

a:hover,
a:active {
    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', 'Arial', 'sans-serif';
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {
    transition: all 100ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}


/*NAVIGATION*/


.navbar {
    background-color: #333333 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}

.navbar a {
    color: #fff !important;
    opacity: 0.7;
}

.navbar a:hover {   
    opacity: 1;
    background-color: #111111 !important;
}

/*dropdown stuff*/
.navbar ul {
    color: #fff !important;
    background-color: #333333 !important;
}

.navbar ul:hover {   
    background-color: #333333 !important;
}

.signInDrop {
    width: 30em;
    height: 25em;
}

/*
Home View Styles
*/

.header {
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(../images/bg3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


.header img {
    height: 350px;
    width: 450px;
    margin: 70px 0 0 40px;
}

.header h1 {
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button { 
    margin-top: 20px;
}

.header .btn {
    border-radius: 0;
    margin: 40px 20px;
}


@media(max-width:768px) {
    .header {
        padding: 30px;
        height: 750px;
    }

    .header img {
        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }

    .header .btn {
        font-size: 10px;
        margin-left: 20px;
    }

    .header h1 {
        font-size: 20px;
    }

    .header p {
        font-size: 10px;
    }
}


/*SERVICES*/

.services {
    background-color: #f1f1f1;
    padding: 40px 0 40px;
    text-align: center;
}

.services h2,
.services h4 {
    color: #000;
    /*margin: 20px 0 20px;*/
}

.services p {
    color: #4c4c4c;
    font-size: 14px;
    padding-bottom: 40px;
}

.services i {
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}


@media(max-width:768px) {
    
    .services {
        
        padding: 30px;
    }
}


/*TEAM*/

.team {
    padding: 40px 0 40px;
    background-color: #3399ff;
    text-align: center;
    color: white;
}

.team b,
.team h2,
.team h4 {
    margin: 20px 0 20px;
    color: #fff;
}


.team p {
    color: #fff;
}

.team img {
    height: 150px;
    width: 150px;
    margin-top: 80px;
}

.team i {   
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
}

.team a:hover i {
    background-color: #709963;
}


/*CONTACT*/

.contact {
    background-color: #f1f1f1;
    padding: 20px 0 40px;
    text-align: center;
}

.contact p {
    padding-bottom: 20px;
    color: #737373;
}

.contact h2 {
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.contact .input-group {
    margin-bottom: 25px;
}

.contact .btn {  
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #3399ff;
    color: #fff;
}

.contact .btn:hover {
    background-color: #0080ff;
    color: white;
}

/*vol profile*/

.volHeader {
    height: 355px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background: url(../images/profileBG.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#firstRow{
    padding-top: 8em;
}

#secondRow{
    padding: 20px 0 20px;
}

#aboutThumbnail {
    padding: 20px 0 20px;
}

.profilePic {
    border-radius: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: white;
    height: 260px;
    width: 260px;
}

/*footer*/
.footer {
    
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}


.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

.event-anchor {
    text-decoration: none;
    color: black !important;
}
/*end footer*/


/*for the tables*/
.table {
  width: 100%;
  border: 1px solid #d6dde6;
  border-collapse: collapse;
}

.tbale td {
  border: 1px solid #d6dde6;
  padding: 0.3em;
}

.table th {
  border: 1px solid #828282;
  background-color: #bcbcbc;
  font-weight: bold;
  text-align: left;
  padding-left: 0.3em;
}

.table tr:nth-child(odd) {
  background-color: #dfe7f2;
  color: #000000;
}