


<main-nav></main-nav>
<br>
<br>
<br>
<br>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row text-center">
                    <h1 ng-if="user" >Upcoming Events to <br> Volunteer For:</h1>
                    <h1 ng-if="!user"> Sign In or <span> <a href="/register" class="signUpText" >Sign Up</a> </span> To View Events</h1>
                </div>
                <table class="table table-striped">
                    <caption><h3> All Events:</h3></caption>
                    <thead>
                        <tr>
                            <th>Organization</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Help Needed</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Total Hours</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="x in upcomingEvents">
                        <td><a class="event-anchor" ng-href="/organization_profile/{{x.organizationId}}">{{ x.orgName }}</a></td>
                        <td>{{ x.title }}</td>
                        <td>{{ x.description }}</td>
                        <td>{{ x.helpNeeded }}</td>
                        <td>{{ x.date | date:'shortDate'}}</td>
                        <td>{{ x.startTime | date:"hh:mm a"}}</td>
                        <td>{{ x.endTime | date:"hh:mm a"}}</td>
                        <td>{{ x.totalHours }}</td>
                        <td><button class="btn btn-success" ng-click="volunteer(x)">Volunteer</button></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<contact-area></contact-area>
<footer></footer>