<main-nav></main-nav>

<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

    <div ng-app="myApp" ng-controller="EventController">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Help Needed</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Total Hours</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in names">
                <td>{{ x.title }}</td>
                <td>{{ x.description }}</td>
                <td>{{ x.helpNeeded }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.startTime }}</td>
                <td>{{ x.endTime }}</td>
                <td>{{ x.totalHours }}</td>
            </tbody>
        </table>

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('EventController', function ($scope, $http) {
            $http.get("")
                .then(function (response) { $scope.title = response.data.records; });
        });

    </script>

</body>

</html>