<div id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="wow fadeInUp">LinkTank</h4>
            </div>
            <div class="col-md-3">
                <h4 class="wow fadeInUp">Contact Us</h4>
                <p><i class="fa fa-home" aria-hidden="true"></i> LinkTank </p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> linkTank@gmail.com</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 1(800)888-8888</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i> linkTank.com</p>
            </div>
            <div class="col-md-3">
                <h4>About</h4>
                <p><i class="fa fa-square-o" aria-hidden="true"></i> About Us</p>
                <p><i class="fa fa-square-o" aria-hidden="true"></i> Privacy</p>
                <p><i class="fa fa-square-o" aria-hidden="true"></i> Term & Condition</p>
            </div>
            <div class="col-md-3">
                <h4>Stay in touch</h4>
                <i class="social fa fa-facebook" aria-hidden="true"></i>
                <i class="social fa fa-twitter" aria-hidden="true"></i>
                <i class="social fa fa-linkedin" aria-hidden="true"></i>
                <i class="social fa fa-github" aria-hidden="true"></i><br>
            </div>
        </div>
    </div>
</div>