<main-nav></main-nav>

<div id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft">
                <h1>{{ slogan }}</h1>
                <p>{{companyDescription}}</p>
                <button class="btn btn-lg btn-success"><a class="menu-item" href="/register">Sign Up</a></button>
            </div>
            <div class="col-md-6 wow fadeInRight img-rounded">
                <img src="./images/homeSlideIn.jpg" alt="This should be a cool picture">
            </div>
        </div>
    </div>
</div>


<!---End Header -->

<!--- Services -->

<div id="services" class="services">
    <div class="container">
        <!--Intro Services-->
        <h2 class="wow fadeInUp">What is it that we do?</h2>
        <p class="wow fadeInUp" data-wow-delay="0.4">{{whatWeDo}} </p>
        <!--The actual services-->
        <div class="row">
            <div class="col-md-3 wow fadeInLeft" data-wow-delay=".4s">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <h4>Sign up</h4>
                <p>{{servicePointOne}}</p>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <h4>Post or join events</h4>
                <p> {{servicePointTwo}} </p>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-delay="01.3s">
                <i class="fa fa-database" aria-hidden="true"></i>
                <h4>Put in work</h4>
                <p> {{servicePointThree}} </p>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
                <i class="fa fa-university" aria-hidden="true"></i>
                <h4>Show off what you did</h4>
                <p> {{servicePointFour}} </p>
            </div>
        </div>
    </div>
</div>

<!---End Services -->


<!--team-->


<div id="team" class="team">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">Meet the team...</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4">The team that linked up so that they can help others link up.</p>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.6s">
                <img src="images/team-1.jpg" class="img-circle" alt="">
                <h4>{{personeOneName}}</h4>
                <b> {{personOneTitle}} </b>
                <p> {{personeOneAbout}} </p>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4  wow fadeInLeft" data-wow-delay="1.2s">
                <img src="images/team-1.jpg" class="img-circle" alt="">
                <h4> {{personTwoName}} </h4>
                <b> {{personTwoTitle}} </b>
                <p> {{personeTwoAbout}} </p>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4  wow fadeInLeft" data-wow-delay="1.8s">
                <img src="images/team-1.jpg" class="img-circle" alt="">
                <h4>{{personThreeName}}</h4>
                <b>{{personThreeTitle}}</b>
                <p>{{personThreeAbout}}</p>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

<!--- End Team -->


<!--- Contact -->
<contact-area></contact-area>
<!---End Contact ->

<!--footer-->
<div id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="wow fadeInUp">LinkTank</h4>
            </div>
            <div class="col-md-3">
                <h4 class="wow fadeInUp">Contact Us</h4>
                <p><i class="fa fa-home" aria-hidden="true"></i> dis where my adi foes</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> email.me@idk.com</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> numba</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i> link to this shit</p>
            </div>
            <div class="col-md-3">
                <h4>About</h4>
                <p><i class="fa fa-square-o" aria-hidden="true"></i> About Us</p>
                <p><i class="fa fa-square-o" aria-hidden="true"></i> Privacy</p>
                <p><i class="fa fa-square-o" aria-hidden="true"></i> Term & Condition</p>
            </div>
            <div class="col-md-3">
                <h4>Stay in touch</h4>
                <i class="social fa fa-facebook" aria-hidden="true"></i>
                <i class="social fa fa-twitter" aria-hidden="true"></i>
                <i class="social fa fa-linkedin" aria-hidden="true"></i>
                <i class="social fa fa-github" aria-hidden="true"></i><br>
            </div>
        </div>
    </div>
</div>
<!--footer-->