<div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#thing-collapse" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span> 
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="grab navbar-brand">LinkTank</a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="thing-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--IF YOU ARE NOT A USER THEN THIS WILL BE SHOW!-->
                <li class="dropdown" ng-if="!user">
                    <!--click sign in - drops once-->
                    <a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Sign In<span class="caret"></span>
                    </a>
                    <!--shows dropdown-->
                    <ul class="dropdown-menu">
                        <li>
                            <div class=" signInDrop">
                                <div class="row rg-master">
                                    <div class="col-md-4 col-md-offset-4 text-center thing">
                                        <h1 class="wow fadeInLeft">Login</h1>
                                        <hr class="wow fadeInRight">
                                        <form class="wow fadeInRight">
                                            <div class="form-group">
                                                <label for="newUserEmail">Email</label>
                                                <input type="email" class="form-control" placeholder="Type Email Here" ng-model="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" placeholder="New Password Here" ng-model="password">
                                            </div>
                                            <button type="submit" ng-click="login()" class="btn btn-lg btn-danger">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--IF NOT A USER, THIS WILL NOT BE SHOWN!-->
                <li><a href="/register" ng-if="!user">Sign Up</a></li>
                <li><a href="/events">View All Events</a></li>
                <li><a href="#">About Us</a></li>
                <!--This Profile DropDown Should Not Be Shown Unless Logged In as org or vol-->
                <li class="dropdown" ng-if="user">
                    <!--click on profile - drops down-->
                    <a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        My Profile<span class="caret"></span>
                    </a>
                    <!--the dropdown-->
                    <ul class="dropdown-menu">
                        <li><a href="/">View Profile</a></li>
                        <li><a href="/edit_volunteer_profile/{{v.volunteerid}}" ng-show="user.role == 'Volunteer'">Edit Vol Profile</a></li>
                        <li><a href="/edit_organization_profile/{{o.organizationid}}" ng-show="user.role == 'Organization'">Edit Org Profile</a></li>
                        <li><a href="/" ng-if="user"> Logout </a></li> 
                        


                        <!--<li><a href="/" ng-click="logout()">Log Out</a></li>-->
                </ul>
                </li>
            </ul>

             <!--when no one logged in have default nav, with sign in/ Up
                        when anyone logged in takes those away, and show logout
                            depending on the role, edit profile link will be different-->
        </div>
    </div>
</div>