<main-nav></main-nav>

<div id="volHeader" class="volHeader">
<!--if there is no user signed in- show this-->
 <div id="textBG" class="container">
   <h1 id="noUserOrgProf" ng-if="!user"> Sign In or <span> <a href="/register" class="signUpText" >Sign Up</a> </span> To View a Users Profile</h1>
 </div>
 <!--if the user is signed in, show this-->
 <div class="container" ng-if="user">
    <div id="firstRow" class="row">
      <img class="profilePic img-responsive" ng-src="{{ organization.image }}" alt="users picture">
    </div>
    <div id="secondRow" class="row">
      <div id="aboutThumbnail" class="thumbnail col-md-2 wow fadeInLeft">
        <div class="caption">
          <h3>{{ organization.organizationName }}</h3>
          <p>{{ organization.address }}</p>
          <p>{{ organization.city }}</p>
          <p>{{ organization.state }}</p>
          <p>{{ organization.zip }}</p>
          <hr>
          <p>{{ organization.about }}</p>
          <buttton ng-click="editProfile()" class="btn btn-danger">Edit Profile</buttton>
        </div>
      </div>
      <div class="col-md-7">
        <div class="thumbnail vol-profile-cont">
          <h1>{{organization.organizationName}}'s Events </h1>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#createEventModal">Create new event</button>
          <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#detailsModal" ng-click="details(o)">See More Details</button>
          <hr>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Activity</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Start Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody ng-repeat="o in orgEvents">
              <td>{{ o.date | date:'shortDate'}}</td>
              <td>{{ o.title }}</td>
              <td>{{ o.address }}</td>
              <td>{{ o.city }}</td>
              <td>{{ o.state }}</td>
              <td>{{ o.startTime |date:'hh:mm a'}}</td>
              <td>
                <!-- <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#detailsModal" ng-click="details(o)">See More Details</button> -->
                <!--<button class="btn btn-success btn-sm" ng-click="details(event)">Details</button>-->
                <!--<button class="btn btn-danger btn-sm" style=margin-top:7px data-toggle="modal" data-target="#manageEventModal">Manage Event</button>-->
                <button type="button" class="btn btn-danger" style=margin-top:7px data-toggle="modal" data-target="#manageEventModal" ng-click="grabEvent(o)">Manage Event</button>
              </td>
            </tbody>
          </table>
        </div>
      </div>
      <div id="aboutThumbnail" class="thumbnail col-md-3">
        <div class="caption">
          <h1>Past Events</h1>
          <hr>
          <table>
            <thead>
              <tr>
                <th>Organization</th>
                <th>Activity</th>
                <th>Date</th>
                <th>Total Hours</th>
              </tr>
            </thead>
            <tbody ng-repeat="p in pastOrgEvents" style="margin:0 5px 0 5px;">
              <td>{{ p.organizationName}}</td>
              <td>{{ p.title}}</td>
              <td>{{ p.date | date:'shortDate' }}</td>
              <td class="text-center">{{ p.totalHours }}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<!--NEW EVENT MODAL INFO-->
<div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="form">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Create a new event!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Title:</label>
            <input type="text" class="form-control" id="newTitle" placeholder="Title of your event." ng-model="event.title">
          </div>
          <div class="form-group">
            <label for="newDescription" class="form-control-label">Description:</label>
            <textarea class="form-control" id="newDescription" placeholder="Describe what you need help with." ng-model="event.description"></textarea>
          </div>
          <!--row-->
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="newAddress" class="form-control-label">Address:</label>
              <input type="text" class="form-control" id="newAddress" placeholder="123 South Ave" ng-model="event.address">
            </div>
            <div class="form-group col-sm-3">
              <label for="newCity" class="form-control-label">City:</label>
              <input type="text" class="form-control" id="newCity" placeholder="Birmingham" ng-model="event.city">
            </div>
            <div class="form-group col-sm-3">
              <label for="newState" class="form-control-label">State:</label>
              <input type="text" class="form-control" id="newState" placeholder="AL" ng-model="event.state">
            </div>
            <div class="form-group col-sm-3">
              <label for="newHelpNeeded" class="form-control-label">Volunteers Needed:</label>
              <input type="number" class="form-control" id="newHelpNeeded" ng-model="event.helpNeeded">
            </div>
          </div>
          <!--end row-->
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="newDate" class="form-control-label">Date:</label>
              <input type="date" class="form-control" id="newDate" ng-model="event.date">
            </div>
            <div class="form-group col-sm-3">
              <label for="newStartTime" class="form-control-label">Start Time:</label>
              <input type="time" class="form-control" id="newStartTime" ng-model="event.startTime">
            </div>
            <div class="form-group col-sm-3">
              <label for="newEndTime" class="form-control-label">End Time:</label>
              <input type="time" class="form-control" id="newEndTime" ng-model="event.endTime">
            </div>
            <div class="form-group col-sm-3">
              <label for="newTotalHours" class="form-control-label">Total Hours:</label>
              <input type="number" class="form-control" id="newTotalHours" ng-model="event.totalHours">
            </div>
          </div>
          <form>
      </div>
      <!--end body-->
      <!--footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="createEvent(event)">Add event</button>
      </div>
    </div>
  </div>
</div>


<!--Manage Event Modal Info-->

<div id="manageEventModal" class="modal"  tabindex="-1" role="dialog" aria-labelledby="manageEventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="form">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h3 class="modal-title" id="manageEventModalLabel">Manage your event!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Title:</label>
            <input type="text" class="form-control" id="newTitle" ng-model="singleEvent.title">
          </div>
          <div class="form-group">
            <label for="newDescription" class="form-control-label">Description:</label>
            <textarea class="form-control" id="newDescription" placeholder="Describe what you need help with." ng-model="singleEvent.description"></textarea>
          </div>
          <!--row-->
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="newAddress" class="form-control-label">Address:</label>
              <input type="text" class="form-control" id="newAddress" ng-model="singleEvent.address">
            </div>
            <div class="form-group col-sm-4">
              <label for="newCity" class="form-control-label">City:</label>
              <input type="text" class="form-control" id="newCity" ng-model="singleEvent.city">
            </div>
            <div class="form-group col-sm-4">
              <label for="newState" class="form-control-label">State:</label>
              <input type="text" class="form-control" id="newState" ng-model="singleEvent.state">
            </div>
          </div>
          <!--end row-->
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="newDate" class="form-control-label">Date (YYYY-MM-DD):</label>
              <input type="date" class="form-control" id="newDate" ng-model="singleEvent.date">
            </div>
            <div class="form-group col-sm-3">
              <label for="newStartTime" class="form-control-label">Start Time:</label>
              <input type="time" class="form-control" id="newStartTime" ng-model="singleEvent.startTime">
            </div>
            <div class="form-group col-sm-3">
              <label for="newEndTime" class="form-control-label">End Time:</label>
              <input type="time" class="form-control" id="newEndTime" ng-model="singleEvent.endTime">
            </div>
            <div class="form-group col-sm-3">
              <label for="newEndTime" class="form-control-label">Vols Needed:</label>
              <input type="number" class="form-control" id="newHelpNeeded" ng-model="singleEvent.helpNeeded">
            </div>
          </div>
        </form>
      </div>
      <!--end body-->
      <!--footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard All Changes</button>
        <button type="button" class="btn btn-danger" ng-click="delete(singleEvent)">DELETE EVENT</button>
        <button type="button" class="btn btn-primary" ng-click="update(singleEvent)">Save Changes</button>

      <div class="container">
        <div class="row">
          <h2 class="text-justify">Volunteers Currently Attending:</h2>
          <br>
          <div class="col-md-6"> 
            <div ng-repeat="v in vols"> 
            <ol type="1">
              <li>{{ v.name }} - {{ v.email }}</li>
              <button class="btn btn-success" ng-click="goToVol(v)">Go To</button><br>
            </ol>
            </div>
          </div>
        </div>
      </div>
      </div>
      <br>
      <hr>

    </div>
  </div>
</div>



<!--More Detailed Event Modal Info-->

<div id="detailsModal" class="modal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">More details for event </h4>
      </div>
      <div class="modal-body">
        <!--table head-->
        <table class="table table-striped" id="profileTable">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Date</th>
              <th>Address</th>
              <th>Location</th>
              <th>Description</th>
              <th>Vols Needed</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Total Hours</th>
            </tr>
          </thead>
          <!--table body-->
          <tbody ng-repeat="o in orgEvents">
            <td>{{ o.title}}</td>
            <td>{{ o.date | date:'fullDate'}}</td>
            <td>{{ o.address}}</td>
            <td>{{ o.city}}, {{o.state}} </td>
            <td>{{ o.description}}</td>
            <td>{{ o.helpNeeded }}</td>
            <td>{{ o.startTime | date:"hh:mm a"}}</td>
            <td>{{ o.endTime | date:"hh:mm a"}}</td>
            <td>{{ o.totalHours}}</td>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>