<!--  volNav  -->

<!--if "isVol" is true, this nav bar will be shown-->
<div id="myNavbar" class="navbar navbar-default navbar-fixed-top" ng-model="Volunteer" role="navigation">  
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#thing-collapse" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span> 
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="grab navbar-brand">LinkTank</a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="thing-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/events">All Events</a></li>
                <li><a href="#">About Us</a></li>
                <li class="dropdown">
                    <!--click sign in - drops once-->
                    <a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        My Profile<span class="caret"></span>
                    <!--<a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ volunteer.volunteerName }}<span class="caret"></span>
                    </a>    -->
                    </a>
                    <!--shows dropdown-->
                    <ul class="dropdown-menu">
                        <li><a ng-href="/volunteer_profile/{{v.volunteerid}}">View Profile</a></li>
                        <li><a ng-href="/edit_volunteer_profile/{{v.volunteerid}}">Edit Profile</a></li>
                        <li><a ng-href="/" ng-click="logout()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>