<main-nav></main-nav>

<div id="volHeader" class="volHeader">
    <!--if there is no user signed in- show this-->
    <div id="textBG" class="container">
        <h1 id="noUserOrgProf" ng-if="!user"> Sign In or <span> <a href="/register" class="signUpText" >Sign Up</a> </span> To View a Users Profile</h1>
    </div>
    <!--if the user is signed in, show this-->
    <div class="container" ng-if="user">
        <div id="firstRow" class="row">
            <img class="profilePic" ng-src="{{volunteer.image}}" alt="users picture">
        </div>
        <div id="secondRow" class="row">
            <div id="aboutThumbnail" class="thumbnail col-md-3">
                <div class="caption">
                    <h2>{{ volunteer.name }}</h2>
                    <hr>
                    <p class="fa fa-envelope"> {{ volunteer.email }}</p>
                    <br>
                    <p class="fa fa-map-marker"> {{ volunteer.city }}, {{ volunteer.state }}</p>
                    <br>
                    <p class="fa fa-user"> {{ volunteer.about }}</p>
                    <br>
                    <hr>
                    <a ng-href='/edit_volunteer_profile/{{ volunteer.id }}'>
                        <buttton ng-if="user.role=='Volunteer'" class="btn btn-danger">Edit Profile</buttton>
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <ul class="nav nav-tabs ba">
                        <li role="presentation"><a data-toggle="tab" href="#upcoming">Upcoming Events</a></li>
                        <li role="presentation"><a data-toggle="tab" data-target="#past">Past Events</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="upcoming" class="tab-pane fade in active">
                            <h1>{{volunteer.name}}'s Upcoming Events</h1><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#detailsModal"
                                ng-click="details(event)">See More Details</button>
                            <hr>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Organization</th>
                                        <th>Activity</th>
                                        <th>Date</th>
                                        <th>Location</th>
                                        <th>Total Hours</th>
                                        <th>Rain Check</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="u in upcomingEvents">
                                    <td>{{ u.organizationName}}</td>
                                    <td>{{ u.title}}</td>
                                    <td>{{ u.date | date:'fullDate'}}</td>
                                    <td>{{ u.organizationCity}}, {{ e.organizationState}} </td>
                                    <td>{{ u.totalHours}}</td>
                                    <td><button class="btn btn-success btn-sm" ng-click="unVolunteer(u)">Un-Volunteer</button></td>
                                </tbody>
                            </table>
                            <buttton ng-click="findEvents()" class="btn btn-primary">See All Events</buttton>
                        </div>
                        <div id="past" class="thumbnail tab-pane fade">
                            <div class="caption">
                                <h1>Past Events</h1>
                                <hr>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Activity</th>
                                            <th>Organization</th>
                                            <th>Total Hours</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="p in pastEvents" style="margin:5px 5px 5px 5px !important;">
                                        <td>{{ p.date | date:'shortDate' }}</td>
                                        <td>{{ p.title}}</td>
                                        <td>{{ p.organizationName}}</td>
                                        <td class="text-center">{{ p.totalHours }}</td>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

                <!-- </div>
            </div>

        </div>
    </div>
</div> -->



<!--Modal Info For More Details-->
<div id="detailsModal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">More details for event </h4>
            </div>
            <div class="modal-body">
                <!--table head-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Organization</th>
                            <th>Activity</th>
                            <th>Date</th>
                            <th>Address</th>
                            <th>Location</th>
                            <th>Description</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Total Hours</th>
                        </tr>
                    </thead>
                    <!--table body-->
                    <tbody ng-repeat="e in upcomingEvents">
                        <td>{{ e.organizationName}}</td>
                        <td>{{ e.title}}</td>
                        <td>{{ e.date | date:'fullDate'}}</td>
                        <td>{{ e.address}}</td>
                        <td>{{ e.organizationCity}}, {{ e.organizationState}} </td>
                        <td>{{ e.description}}</td>
                        <td>{{ e.startTime | date:"hh:mm a"}}</td>
                        <td>{{ e.endTime | date:"hh:mm a"}}</td>
                        <td>{{ e.totalHours}}</td>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--<footer> </footer>-->